.hangout{
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  .chat{
    display: flex;
    flex-direction: column;
    flex: 2;
    min-height: 100%;
    border: 1px solid $dark-text;
    .messages{
      flex: 1;
      overflow: scroll;
      padding: 20px;
      padding-top: 0px;
      margin-top: -18px;
      .message{
        border-top: 1px solid lighten($dark-text, 60%);
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 10px;
        img{
          border-radius: 4px;
          height: 32px;
          width: 32px;
        }
        .info{
            margin-left: 20px;
            flex: 1;
            .header{
              @include roboto($roboto-light);
              display: flex;
              flex-direction: row;
              font-size: 11px;
              justify-content:space-between;
              width: 100%;
              .name{
                color: $dark-text;
              }
              .log{
                color: lighten($dark-text, 30%);
              }
            }
            .text{
              @include roboto($roboto-normal);
              font-size: 14px;
              margin-top: 8px;
            }
        }
      }
    }
    .messageBox{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      padding: 1px;
      border-top: 1px solid darken($secondary, 10%) !important;
      .messageInput{
        flex: 1;
        height: 40px;
        input{
          border: 1px solid darken($secondary, 20%) !important;
          height: 32px;
          margin: 2px;
          margin-top: 1px;
          padding: 2px;
          text-align: left;
          width: 97%;
          &:focus{
            border: 1px solid $accent !important;
          }
        }
      }
      a{
        background: $accent;
        margin-left: 4px;
        width: 120px;
      }
    }
  }
  .video{
    background-color: $dark-text;
    border: 1px solid red;
    flex: 5;
    min-height: 100%;
    position: relative;
    #remoteVideo{
      border: 1px solid red;
      width: 100% !important;
      min-height: 100% !important;
    }
    #localVideo{
      position: absolute;
		  bottom: 10px;
		  right:10px;
      width: 150px;
    }
  }
  .conversations{
    flex: 1.5;
    .title{
      @include roboto($roboto-light);
      background-color: lighten($accent, 5%);
      color: $light-text;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      text-align: left;
      width: 100%;
      .close{
        cursor: pointer;
      }
    }
    ul{
      li{
        border-bottom: 1px solid lighten($accent, 10%);
        border-bottom: 1px solid lighten($dark-text, 60%);;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 5px;
        &:hover{
          background: lighten($dark-text, 65%)
        }
        img{
          border-radius: 4px;
          height: 32px;
          width: 32px;
        }
        .converstionInfo {
          @include roboto($roboto-normal) ;
          align-items:center;
          flex: 1;
          display: flex;
          justify-content: center;
          .circle{
            border: 1px solid;
            border-radius: 50%;
            display: block;
            height: 7px;
            margin: 2px 0 0 10px;
            width: 7px;
          }
          .online{
            @extend .circle;
            background: $online;
            border-color: $online-border;
          }
          .offline{
            @extend .circle;
            background: $offline;
            border-color: $offline-border;
          }
        }
      }
    }
  }
}
