.hangout{
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  .chat{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    border: 1px solid $dark-text;
    .messages{
      flex: 1;
      overflow: scroll;
      padding: 20px;
      padding-top: 0px;
      margin-top: -18px;
      .message{
        border-top: 1px solid lighten($dark-text, 60%);
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 10px;
        img{
          border-radius: 4px;
          height: 32px;
          width: 32px;
        }
        .info{
            margin-left: 20px;
            flex: 1;
            .header{
              @include roboto($roboto-light);
              display: flex;
              flex-direction: row;
              font-size: 12px;
              justify-content:space-between;
              width: 100%;
              .name{
                color: $dark-text;
              }
              .log{
                color: lighten($dark-text, 30%);
              }
            }
            .text{
              @include roboto($roboto-normal);
              font-size: 16px;
              margin-top: 8px;
            }
        }
      }
    }
    .messageBox{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      padding: 1px;
      border-top: 1px solid darken($secondary, 10%) !important;
      .messageInput{
        flex: 1;
        height: 40px;
        input{
          border: 1px solid darken($secondary, 20%) !important;
          height: 32px;
          margin: 2px;
          margin-top: 1px;
          padding: 2px;
          text-align: left;
          width: 97%;
          &:focus{
            border: 1px solid $accent !important;
          }
        }
      }
      a{
        background: $accent;
        margin-left: 4px;
        width: 120px;
      }
    }
  }
  .video{
    background-color: $dark-text;
    flex: 3;
    min-height: 100%;
  }
}
